# tensorflow
scikit-learn
pandas 
dvc
mlflow==2.11.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
kaggle
tabulate
albumentations
opencv-python
-e .